{# BGP graceful restart macros for FRR/Cumulus #}
{% macro selective_af(gr) -%}
{{ gr.ipv4 != gr.ipv6 }}
{%- endmacro %}

{% macro gr_global(gr) -%}
{% if gr.state == 'enable' %}
 bgp graceful-restart
{%   if gr.restart_time is defined %}
 bgp graceful-restart restart-time {{ gr.restart_time }}
{%   endif %}
{%   if gr.stalepath_time is defined %}
 bgp graceful-restart stalepath-time {{ gr.stalepath_time }}
{%   endif %}
{%   if gr.update_delay is defined %}
 bgp update-delay {{ gr.update_delay }}
{%   endif %}
{% elif gr.state == 'disable' %}
 bgp graceful-restart-disable
{% elif gr.state == 'helper' %}
{%   if gr.stalepath_time is defined %}
 bgp graceful-restart stalepath-time {{ gr.stalepath_time }}
{%   endif %}
{% endif %}
{%- endmacro %}

{% macro gr_af(gr, af) -%}
{% if selective_af(gr) and gr.state in ['enable','helper'] %}
{%   if gr[af] %}
    bgp graceful-restart
{%   else %}
    no bgp graceful-restart
{%   endif %}
{% endif %}
{%- endmacro %}

{% macro gr_neighbor(n, af) -%}
{% if 'gr' in n %}
{%   set peer = n[af] if n[af] is string else n.local_if|default('?') %}
{%   if n.gr.state == 'disable' or not n.gr[af] %}
    neighbor {{ peer }} graceful-restart-disable
{%   elif n.gr.state == 'enable' %}
    neighbor {{ peer }} graceful-restart
{%   elif n.gr.state == 'helper' %}
    neighbor {{ peer }} graceful-restart-helper
{%   endif %}
{% endif %}
{%- endmacro %}
