---
{% macro aggregate_config(vrf,vrf_bgp) -%}
{%  for af in ['ipv4','ipv6'] %}
{%    for a_entry in bgp.aggregate|default([]) if af in a_entry %}
{%      if loop.first %}
- set:
    vrf:
      {{ vrf }}:
        router:
          bgp:
            address-family:
              {{ af }}-unicast:
                aggregate-route:
{%      endif %}
                  {{ a_entry[af] }}:
                    summary-only: {{ 'on' if a_entry.summary_only|default(false) else 'off' }}
{%    endfor %}
{%  endfor %}
{% endmacro %}

{{ aggregate_config('default',bgp) }}

{% if vrfs is defined %}
{%   for vname,vdata in vrfs.items() if vdata.bgp is defined %}
{{ aggregate_config(vname,vdata.bgp) }}
{%   endfor %}
{% endif %}
