updates:
{#
    Prefix filters
#}
{% for pf_name,pf_list in routing.prefix|default({})|items %}
- path: /routing-policy/prefix-set[name={{ pf_name }}]
  value:
    prefix:
{%   for p_entry in pf_list %}{# Iterate over prefix list entries #}
{%     for p_af in af if p_af in p_entry %}{# Iterate over address families in the prefix list entry #}
    - ip-prefix: {{ p_entry[p_af] }}
{%     if p_entry.min[p_af] is defined or p_entry.max[p_af] is defined %}
      mask-length-range: {{ 
        p_entry.min[p_af]|default(p_entry[p_af]|ipaddr('prefix')) }}..{{ 
        p_entry.max[p_af]|default(32 if p_af == 'ipv4' else 128) }}
{%     else %}
      mask-length-range: exact
{%     endif %}
{%     endfor %}
{%   endfor %}
{% endfor %}

{#
    Routing policies
#}
{% for rp_name,rp_list in routing.policy|default({})|items %}
- path: /routing-policy/policy[name={{ rp_name }}]
  value:
    default-action:
      policy-result: reject
    statement:
{%   for entry in rp_list %}
    - name: rpe_{{ entry.sequence }}
{%     if 'match' in entry %}
      match:
{%       if entry.match.prefix is defined %}
{%         if _srl_version >= 25.3 %}
       prefix:
{%         endif %}
        prefix-set: {{ entry.match.prefix }}
{%       endif %}
{%     endif %}
      action:
        policy-result: {{ 'accept' if entry.action == 'permit' else 'reject' }}
{%     if entry.set.locpref is defined or entry.set.med is defined %}
        bgp:
{%       if 'locpref' in entry.set %}
          local-preference:
            set: {{ entry.set.locpref }}
{%       endif %}
{%       if 'med' in entry.set %}
          med:
{%         if _srl_version >= 25.3 %}
            operation: set
            value: {{ entry.set.med }}
{%         else %}
            set: {{ entry.set.med }}
{%         endif %}
{%       endif %}
{%     endif %}
{%   endfor %}
{% endfor %}

{#
   Static routes
#}
{% if routing.static|default([]) %}
{% macro config_sr(sr_data,af,vrf='default') %}
{%   set gname = 'blackhole' if 'discard' in sr_data.nexthop else sr_data.nexthop[af]|replace(':','_') %}
- path: /network-instance[name={{vrf}}]/next-hop-groups/group[name={{gname}}]
  value:
{%   if gname=='blackhole' %}
    blackhole:
      generate-icmp: True
{%   else %}
    nexthop:
    - index: 0
      ip-address: {{ sr_data.nexthop[af] }}
{%   endif %}
{%   for afm in af %}
- path: /network-instance[name={{vrf}}]/static-routes
  value:
    route:
    - prefix: {{ sr_data[af] }}
      next-hop-group: {{ gname }}
{%   endfor %}
{% endmacro -%}
{#
 # Global static routes
 #}
{%   for sr_data in routing.static if 'vrf' not in sr_data %}
{%     for sr_af in ['ipv4','ipv6'] if sr_af in sr_data %}
{{       config_sr(sr_data,sr_af) -}}
{%     endfor %}
{%   endfor %}
{%   for r_vrf in routing.static|map(attribute='vrf',default=False)|unique if r_vrf %}
{%     for sr_data in routing.static if sr_data.vrf|default('') == r_vrf %}
{%       for sr_af in ['ipv4','ipv6'] if sr_af in sr_data %}
{{         config_sr(sr_data,sr_af,r_vrf) -}}
{%       endfor %}
{%     endfor %}
{%   endfor %}
{% endif %}
