#!/bin/bash
#
set -e # Exit immediately when any command fails
set -x
#

{% if vlans is defined %}

# Create single bridge for all VLANs, with single STP instance
{% set br_name = "br0" %}
if [ ! -e /sys/devices/virtual/net/{{ br_name }} ]; then
ip link add name {{ br_name }} type bridge
ip link set {{ br_name }} type bridge vlan_filtering 1
ip link set dev {{ br_name }} up
fi

# Iterate over all trunk ports to configure (native) vlans
{% for i in interfaces if i.vlan is defined and i.vlan.trunk_id is defined %}
ip link set {{ i.ifname }} master {{ br_name }}
{%  for v in i.vlan.trunk %}
{%   set vlan = vlans[v] %}
bridge vlan add dev {{ i.ifname }} vid {{ vlan.id }}{%- if v==i.vlan.native|default('') %} pvid untagged
bridge vlan delete dev {{ i.ifname }} vid 1
{%   endif %}

{%  endfor %}
{% endfor %}

# Assumes listing order of interfaces is vlan_members before svi interfaces
{% for i in interfaces if i.type in ['vlan_member','svi'] %}
{% set vlan_name = ("vlan" + i.vlan.access_id|string) if i.type=='vlan_member' else i.ifname %}
{% set vid = i.vlan.access_id if 'access_id' in i.vlan else i.ifname[4:] %}

bridge vlan add dev {{ br_name }} vid {{ vid }} self

if [ ! -e /sys/devices/virtual/net/{{ vlan_name }} ]; then
ip link add link {{ br_name }} name {{ vlan_name }} type vlan id {{ vid }}
fi
ip link set dev {{ vlan_name }} up
ip addr flush dev {{ vlan_name }}
{%  if 'ipv4' in i and (i.ipv4 is string or 'ipv4' in loopback) %}
ip addr add {{ i.ipv4 if i.ipv4 is string else loopback.ipv4 }} dev {{ vlan_name }}
{%  endif %}
{%  if 'ipv6' in i %}
{%   if i.ipv6 is string %}
ip addr add {{ i.ipv6 }} dev {{ vlan_name }}
{%   elif not i.ipv6 %}
sysctl -w net.ipv6.conf.{{ vlan_name }}.disable_ipv6=1
{%   endif %}
{%  endif %}

# Note: If the interface is in a vrf, it gets moved later by the vrf module
{% endfor %}

{% endif %} # if vlans is defined

exit 0