{% set module = module|default([]) %}
log stderr all;

{% include 'protocols.j2' %}

{% if role != 'host' and 'ipv6' in af %}
{%   include 'radv.j2' %}
{% endif %}

{% for inc in _bird_daemon_includes|default([]) %}
include "{{ inc }}";
{% endfor %}
