updates:
{% for vname,vdata in vrfs.items() %}

- path: configure/service/vprn[service-name={{ vname }}]
  val:
   service-id: {{ vdata.vrfidx }}
   customer: "1"
   autonomous-system: {{ bgp.as }}
   router-id: {{ vdata.bgp.router_id|default(bgp.router_id) }}

{% endfor %}